parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Model\:\:hasRole\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Commands/AssignRoleCommand.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$roles\.$#'
			identifier: property.notFound
			count: 1
			path: src/Mandate.php

		-
			message: '#^Instanceof between Illuminate\\Foundation\\Auth\\User and Illuminate\\Database\\Eloquent\\Model will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Middleware/PermissionMiddleware.php

		-
			message: '#^Instanceof between Illuminate\\Foundation\\Auth\\User and Illuminate\\Database\\Eloquent\\Model will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Middleware/RoleMiddleware.php

		-
			message: '#^Call to an undefined method Illuminate\\Foundation\\Auth\\User\:\:hasRole\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Middleware/RoleOrPermissionMiddleware.php

		-
			message: '#^Instanceof between Illuminate\\Foundation\\Auth\\User and Illuminate\\Database\\Eloquent\\Model will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Middleware/RoleOrPermissionMiddleware.php
