includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: 7
    tmpDir: /tmp/phpstan
    ignoreErrors:
        # Traits are meant to be used by package consumers
        - identifier: trait.unused
          path: src/Concerns/*.php
